body{
    background-color: #efefef;
    font-family: 'Roboto', sans-serif;
    color: #3d3d3d;
}

.container{
    text-align:center;
}

.title-text{
    font-size: 56px;
    font-weight: bold;
    margin: 0px;
}

.description-text{
    font-size:25px;
    font-weight: 200;
    margin: 0px;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -55%);
    transform: translate(-50%, -55%);
  }

.draw-text{
    font-size:30px;
    font-weight: 300;
    margin-bottom: 5px;
}

#buttons{
    margin: 5px auto;
}

.canvas-container{
    margin: 0 auto;
}

a.button{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:400;
    color:#efefef;
    background-color:#ff3b3f;
    text-align:center;
    transition: all 0.2s;
    }
a.button:hover{
    background-color:#cc2f32;
}
@media all and (max-width:30em){
    a.button{
        display:block;
        margin:0.2em auto;
    }
}

footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #caebf2;
    text-align: center;
    font-weight: 300;
}