body{
    background-color: #efefef;
    font-family: 'Roboto', sans-serif;
}

.text-center{
    text-align:center;
}

.main-text{
    color: #3d3d3d;
    font-size: xx-large;
    font-weight: bold;
    margin: 1%;
}

#buttons{
    margin-top: 1%;
}

.canvas-container{
    margin: 0 auto;
}

a.button{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color:#efefef;
    background-color:#ff3b3f;
    text-align:center;
    transition: all 0.2s;
    }
a.button:hover{
    background-color:#cc2f32;
}
@media all and (max-width:30em){
    a.button{
        display:block;
        margin:0.2em auto;
    }
}