/* Basic flexbox model */

html,
body {
    height: 100%;
    margin: 0;
    background-color: #efefef;
    font-family: 'Roboto', sans-serif;
    color: #3d3d3d;
    text-align: center;
}

.box {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    height: 100%;
}

.box .row.header {
    flex: 0 1 auto;
}

.box .row.content {
    flex: 1 0 auto;
}

.box .row.footer {
    flex: 0 0 auto;
    background-color: #caebf2;
    font-weight: 300;
    margin-top: auto;
}

/* Styling */

.title-text{
    font-size: 45px;
    font-weight: bold;
    margin: 0.5vh;
}

.description-text{
    font-size: 28px;
    font-weight: 200;
    margin: 0.5vh;
}

.draw-text{
    font-size: 30px;
    font-weight: 300;
    margin: 5vh auto 1vh;
}

.canvas-container{
    margin: 0 auto;
    width: 100%;
}

a.button{
    display:inline-block;
    padding:0.3em 1.2em;
    margin: 0.5em 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    font-size: 20px;
    font-weight:400;
    color:#efefef;
    background-color:#ff3b3f;
    transition: all 0.2s;
}

a.button:hover{
    background-color:#cc2f32;
}

@media all and (max-width:30em){
    a.button{
        display:block;
        margin:0.2em auto;
    }
}